body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    letter-spacing: -.022em;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    line-height: 1.5em;
    padding: 25px;
    margin-left: 100px; 
    margin-right:100px;



}
/* Voeg jouw css hieraan toe */



/* ------- */



h1 { 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
}

h2{
  color: #EDC82B;
  font-size: 40px;
  margin-bottom: 3px;
}

h3 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  font-weight: bolder;
  line-height: 5px;
}

p1 {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
  text-align:center;
}

h4 {
  font-size: 25px;
  font-weight: normal;
  line-height: 5px;
}

h5 {
  font-weight: lighter;
  font-size: 30px;
  line-height: 5px;
}


p{
  line-height: 0,5cm;
  font-size: 20px;
}

.header {
    display:flex; 
    justify-content: flex-start;
    align-items: center;

    background-color: rgb(170, 170, 170);
    padding: 25px 50px 25px 50px;

    border: 1px solid red;

}

.bijenkorf-foto {
    margin-right: 25px;
}

.big-container {
    display:flex; 
    justify-content: space-between;

    border: 1px solid blue;

}
.small-lettertype {
    width: 35%;
    border: 1px solid green;
}

.small-kleurenthema {
    width: 50%;
    display:flex; 
    justify-content: space-between;
    align-items: center;
    flex-flow: column; 

    border: 1px solid yellow;
}





.hexagon-mid {
  display:flex;  
  justify-content: space-between;
  width: 41%;
  align-content: space-between;
  height: 400px;
}





.hexagon1 {
  position: relative;
  width: 100px; 
  height: 57.74px;
  background-color: #3F4344;
  margin: 28.87px 0;
}

.hexagon1:before,
.hexagon1:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexagon1:before {
  bottom: 100%;
  border-bottom: 28.87px solid #3F4344;
}

.hexagon1:after {
  top: 100%;
  width: 0;
  border-top: 28.87px solid #3F4344;
}






.hexagon2 {
  position: relative;
  width: 100px; 
  height: 57.74px;
  background-color: #CCCCCC;
  margin: 28.87px 0;
}

.hexagon2:before,
.hexagon2:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexagon2:before {
  bottom: 100%;
  border-bottom: 28.87px solid #CCCCCC;
}

.hexagon2:after {
  top: 100%;
  width: 0;
  border-top: 28.87px solid #CCCCCC;
}






.hexagon3 {
  position: relative;
   width: 100px; 
  height: 57.74px;
  background-color: #EDC82B;
  margin: 28.87px 0;
}

.hexagon3:before,
.hexagon3:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexagon3:before {
  bottom: 100%;
  border-bottom: 28.87px solid #EDC82B;
}

.hexagon3:after {
  top: 100%;
  width: 0;
  border-top: 28.87px solid #EDC82B;
}







.hexagon4 {
  position: relative;
  width: 100px; 
  height: 57.74px;
  background-color: #6CE481;
  margin: 28.87px 0;
}

.hexagon4:before,
.hexagon4:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexagon4:before {
  bottom: 100%;
  border-bottom: 28.87px solid #6CE481;
}

.hexagon4:after {
  top: 100%;
  width: 0;
  border-top: 28.87px solid #6CE481;
}




.small-logo {
  width: 20%;
  border: 1px solid purple;
}

.logo2 {
  width: 65%;
}




.hoofdtitel{
  letter-spacing: 10px;
}


.tusseltitel{
  color: #EDC82B;
}


.link{
  text-decoration: underline;
}


.myMap{
  width:400px;
  height:400px;
  border: 10px;
}


.knop1{
  text-transform: uppercase;
  background-color: #EDC82B;
  width: 60px; 
  height: 50px;
}

#scenarios{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:hsla(130,58%,64%,1);
    height: 700px;
}



/* ----- */

